    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    
    body{
        background-color:#e9b3b375;
        font-family:  Helvetica, sans-serif;
        font-weight: bold;
        color: #3f2607;
       
    }

    nav{
        background-color: aliceblue;
        margin-bottom: 1.4rem;
    }

    .first-navegation{
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;

    }
    
   .nav-items{
        margin: 15px 0px 15px 0px;
       

   }

   .nav-items:first-child{
       margin-right: auto;
       margin-left: 2rem;
   }

   .nav-items button{
    background-color: #3f2607;
    color: white;
    border-radius: 0.2rem;
    border: none;
    padding: 10px;
    outline:none;
    cursor: pointer;
   }

 


    .nav-items{
        margin-right: 2rem;

    }

    .nav-items a{
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .nav-items h1{
        color:rgb(48, 51, 51);
    }

    .nav-items span{
        color: gray;
    }

    /* main section */

    .first-main{
        
        background-color: #eee6e6;
        display: flex;
        width: 90%;
        margin: auto;
       
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        padding: 20px;
        
       
        
    }

    .img-main img{
        width: 500px;
       height: 400px;
       
    }

    .lorem-main, p{
       padding: 2rem;
       line-height: 1.6;
       color: #3f2607;
       font-size: 20px;
      
       
    }

 

    .first-button{
        margin-top: 5px;
        width: 200px;
        padding: 20px;
        background-color: #3f2607;
        color: white;
        border-radius: 0.4rem;
        border: none;
        outline:none;
        cursor: pointer;
    }


    /* section */

    .section-two{
        
        width: 90%;
        margin: auto;
        
        margin-bottom: 20px;
        padding: 20px;
        background-color: #eee6e6;
        text-align: left;
        display: flex;
        justify-content: space-between;
       
      
        
    }

    .section-two h1, p{
        font-size: 1rem;
       
    }

    .section-two h1{
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
        
    }

    .img-main-two img{
        width: 500px;
        height: 350px;
        margin-top: 20px;
        
       
    }

    .img-main-two{
        text-align: center;
        margin-left: -60px;
    }

    /* mural things */
   

    .mural-item{
       
        font-size: 0.9rem;
        font-weight: normal;
        text-align: center;
        margin: 20px;
        padding: 10px;
    
        background-color: #ffffff;
      
        display: flex;
        align-items: center;
        
        
      
   
        
      
    }

    .mural-item img{
       
        max-width: 150px;
        max-height: 150px;
      
    }

    .img-main-two p > span{
        white-space: pre;
    }

    /* learning section */

    .learning-section{
        text-align: center;
        width: 90%;
        margin: auto;
        
        margin-bottom: 20px;
        background-color: #eee6e6;
        
        
    }

    .learning-items img{
        max-width: 250px;
        max-height: 250px;
    }
    
    .flex-learning{
      
        flex-wrap: wrap;
        max-width: 90%;
       
        text-align: center;
        margin-top: 20px;
        display: flex;
        margin:0 auto;
        flex-direction: row;
        padding: 2rem;
        
      
        
    }

    .learning-items{
       text-align: center;
       max-width: 260px;
       min-height: 300px;
  
       background-color:#ffffff;
        margin: auto;
        margin-bottom: 0.5rem;
        font-weight: normal;
        
        
    }

    /* last section */

    .last-section{
        width: 90%;
        margin: auto;
       
        margin-bottom: 20px;
        padding: 20px;
        background-color: #eee6e6;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    

    .last-section video{
        max-width: 600px;
        height: 350px;
        margin-top: 20px;
       
    }
    .video-section{
        text-align: left;
        max-width: 650px;
        
        padding: 20px;
        
    }

    .video-section h1{
        text-align: center;
       
    }

    .div-last-section{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .last-mural{
        display: flex;
        
        align-items: center;
        flex-direction: column;
       
    }
    .last-mural img{
        max-width: 200px;
        
        margin: 10px;
        
    }
    

    .last-mural-item{
        display: flex;
        align-items: center;
        
    }

    footer{
        font-weight: normal;
        max-width: 90%;
        margin: auto;
       
    }

    .footer-section{
        display: flex;
        justify-content: space-between;
      
    }

    .footer-links{
        display: flex;
       
       
    }

    .footer-links a{
        text-decoration: none;
        color: #3f2607;
    }
   
